* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #f2f5f8;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
}

/* MENU */
#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    color: white;
    background-color: #6e75ce;
    height: 4rem;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    transition: background 0.4s;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-nav nav {
    position: fixed;
    display: flex;
}

#main-nav h2{
    color: white;
    text-align: center;
    position: relative;
}

#sidebar {
    top: 4rem;
    position: fixed;
    height: 100%;
    background-color: antiquewhite;
}

#sidebar li{
    text-decoration: none;
    left: 0;
    font-size: 1.4rem;
    padding: 1rem;
    border-bottom: 1px solid gray
}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

.close{
    overflow: hidden;
    width: 0;
    transition: width 1s;
}

.open {
    width: 60%;
    display: block;
}

#submenu ul {
    padding: 0;
}

#submenu ul a {
    color: black;
    text-decoration: none;
}

.arrow {
    margin-left: 0.5rem;
    color: white;
    font-size: 0.75rem;
}

.top-bar {
    height: auto;
}

/*__________________________________________________________________________________________________________________/*

/* CONTENT */

.content div:first-child {
    margin-top: 5rem;
}

.content div {
    display: block;
    border-bottom: 2px solid #becfe6;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}


/*FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.footer-img img {
    height: 3.5rem;
}

body>footer {
    background-color: #8fc2f4;
    color: white;
    padding: 1rem 0;
    margin-top: 0;
}

/*FOOTER*/